<h1>WELCOME TO THE MAIN SIDE</h1>

<img
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnLZL6pHUg4GpHyUpmvJhRsC9Td6ekXIjmAke2HQuIwwf9Na3lfLbo2irTFo7oTZNoZ0o&usqp=CAU"
  alt=""
/>
<br />
<a href="/">LINK TO <u>HOME</u></a>
<a href="/private">LINK TO <u>PRIVATE</u></a>